<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div>
        <table>
            <th colspan="3"><H2>회원가입</H2></th>
            <tr>
                <td>
                    <label>ID</label>
                </td>
                <td>
                    <input type="text" id="id" name="id"
                           placeholder="아이디를 입력하세요">
                </td>
                <td rowspan="3">
                    <button type="submit" style="width:60px; height: 75px;">
                        Login</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>PW</label>
                </td>
                <td>
                    <input type="text" id="pw" name="pw"
                           placeholder="비번을 입력하세요">
                </td>
            </tr>
            <tr>
                <td>
                    <label>NAME</label>
                </td>
                <td>
                    <input type="text" id="pw" name="pw"
                           placeholder="이름을 입력하세요">
                </td>
            </tr>
        </table>
    </div>
</body>
