<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <table>
            <th>
                <tr>
                    <H2>로그인 성공</H2>
                </tr>
                <tr th:each="member : ${members}">
                    <td th:text="${member.name}">님 환영합니다.</td>
                </tr>
            </th>
            <tr style="text-align: center;">
                <td>
                    <a href="/listMember">회원목록</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>